body {
	background-color: #444444;
	height: 100%;
	padding: 0;
	margin: 0;
}

.portfolio {
	font-size: 24px;
	font-family: 'Encode Sans', sans-serif;
	background-color: #d9d9d9;
	box-shadow: 5px 5px rgba(126, 126, 126, 0.5);
	text-indent: 50px;
	padding-top, padding-bottom: 50px;
	padding: 15px;
}

h3 {
	font-size: 32px;
	font-family: 'Open Sans', sans-serif;
}

.header {
	position: relative;
	text-align: center;
}

.heading {
	font-family: 'Open Sans', sans-serif;
	font-weight: black;
	font-size: 5.2em;
	color: #4b2e83;
	text-shadow: 4px 4px #000000;
	position: absolute;
	top: 30px;
	left: 700px;
	line-height: 2px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#wideshot {
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	background-position: center;
	overflow: hidden;
	min-width: 100%;
	min-height: 100%;
}

#headshot {
	border-radius: 50%;
}

#h1, #a1, #n1, #n2, #a2, #h2 {
	display: inline-block;
}

#t1, #h3, #o1, #r1, #e1, #s1, #o2, #n3 {
	display: inline-block;
}

#h1 {
	-webkit-animation-name: colorizeH1;
	-webkit-animation-duration: 60s;
	animation-name: colorizeH1;
	animation-duration: 60s;
}

@keyframes colorizeH1 {
	0% {color: #4b2e83;}
	9% {color: #4b2e83;}
	10% {color: #b7a57a;}
	20% {color: #b7a57a;}
	21%	{color: #4b2e83;}
	50% {color: #4b2e83;}
	51% {color: #b7a57a;}
	100% {color: #b7a57a;}
}

#e1 {
	-webkit-animation-name: colorizeE1;
	-webkit-animation-duration: 30s;
	animation-name: colorizeE1;
	animation-duration: 30s;
}

@keyframes colorizeE1 {
	0% {color: #4b2e83;}
	9% {color: #4b2e83;}
	10% {color: #b7a57a;}
	20% {color: #b7a57a;}
	21%	{color: #4b2e83;}
	50% {color: #4b2e83;}
	51% {color: #b7a57a;}
	100% {color: #b7a57a;}
}

#a2 {
	-webkit-animation-name: colorizeA2;
	-webkit-animation-duration: 45s;
	animation-name: colorizeA2;
	animation-duration: 45s;
}

@keyframes colorizeA2 {
	0% {color: #4b2e83;}
	9% {color: #4b2e83;}
	10% {color: #b7a57a;}
	20% {color: #b7a57a;}
	21%	{color: #4b2e83;}
	50% {color: #4b2e83;}
	51% {color: #b7a57a;}
	75% {color: #b7a57a;}
	76% {color: #4b2e83;}
}

#t1 {
	-webkit-animation-name: colorizeT1;
	-webkit-animation-duration: 45s;
	animation-name: colorizeT1;
	animation-duration: 45s;
}

@keyframes colorizeT1 {
	0% {color: #4b2e83;}
	5% {color: #4b2e83;}
	6% {color: #b7a57a;}
	35% {color: #b7a57a;}
	36%	{color: #4b2e83;}
	65% {color: #4b2e83;}
	66% {color: #b7a57a;}
	100% {color: #b7a57a;}
}

#o1 {
	-webkit-animation-name: colorizeO1;
	-webkit-animation-duration: 20s;
	animation-name: colorizeO1;
	animation-duration: 20s;
}

@keyframes colorizeO1 {
	0% {color: #4b2e83;}
	15% {color: #4b2e83;}
	16% {color: #b7a57a;}
	35% {color: #b7a57a;}
	36%	{color: #4b2e83;}
	60% {color: #4b2e83;}
	61% {color: #b7a57a;}
	100% {color: #b7a57a;}
}

#n3 {
	-webkit-animation-name: colorizeN3;
	-webkit-animation-duration: 50s;
	animation-name: colorizeN3;
	animation-duration: 50s;
}

@keyframes colorizeN3 {
	0% {color: #4b2e83;}
	15% {color: #4b2e83;}
	16% {color: #b7a57a;}
	35% {color: #b7a57a;}
	36%	{color: #4b2e83;}
	65% {color: #4b2e83;}
	66% {color: #b7a57a;}
	100% {color: #b7a57a;}
}

.introQuote {
	position: absolute;
	top: 450px;
	width: 30%;
	margin-left: 780px; 
	background-color: rgba(211, 211, 211, 0.5);
	box-shadow: 2px 2px #212121;
	font-style: italic;
	text-align: center;
}

#downArrow {
	position: absolute;
	top: 650px;
	left: 700px;
	height: 48px;
	width: auto;
	background-color: rgba(250, 250, 250, 0.5);
	border-radius: 25%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	text-align: center;
}


img {
	width: 100%;
	height: auto;
}

ul {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	width: 75%;
	margin: 0;
	padding-left: 50px;
}

li {
	font-family: 'Encode Sans Expanded', sans-serif;
	font-size: 32px;
	display: block;
	flex: 0 1 auto;
	list-style-type: none;
}



.icon {
	height: 45px;
	width: 45px;
}

label {
	display: inline-block;
	text-align: center;
	border: 2px solid transparent;
}

label:hover {
	color: #4b2e83;
}

.pic {
	height: 35%;
	width: 35%;
	padding: 10px;
}

#sk1, #fig1, #fig2 {
	float: left;
}

#dream1, #sk2 {
	float: right;
}

footer {
	padding-top: 100px;
}

.blankSpace {
	height: 350px;
}

@media (max-width: 1360px) {
	.heading {
		font-size: 3.7em;
	}
	.introQuote {
		margin-left: 750px;
	}
}

@media(max-width: 1200px) {
	.heading {
		left: 550px;
		font-size: 3.8em;
	}
	.introQuote {
		margin-left: 600px;
	}
}

@media (max-width: 1000px) {
	.introQuote {
		margin-left: 520px;
	}
	.heading {
		font-size: 2.6em;
	}
}

@media (max-width: 800px) {
	.introQuote {
		display: none;
	}
	#downArrow {
		display: none;
	}
}



